.link {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

    .link_disabled {
        pointer-events: none;
    }
.link{
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.link,
.link:hover,
.link:active,
.link:focus,
.link:visited,
.link.active{
  color: inherit;
  text-decoration: none;
}
.link:hover{
  opacity: .7;
}